<%= form_with(model: [@question, @answer], local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <input type="hidden" name="answer[user_id]" value=<%= current_user.id %>>
    <input type="hidden" name="answer[question_id]" value=<%= @question.id %>>
    <%= form.label :body_text %>
    <%= form.text_area :body_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
